<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>


<section>

    <form action="/admin/movies/create-movie" method="POST">

        <input type="text" id="Title" name="Title" placeholder="nombre de la película" class="">
        <input type="submit" value="Añadir Película">

    </form>

</section>


<%- include('./templates/footer.ejs') %>