<%- include("./userTemplates/header2") %>
<%- include('./userTemplates/menu') %>
<%- include('./userTemplates/photoSlider') %>

  <main>
    <section id="dashboardBtnBlock">
      <div>
        <a id="searchBtn" class="generalBtn" href="/search">Search Movies</a>
      </div>
      <div>
        <a id="myMoviesBtn" class="generalBtn" href="/movies">My Movies</a>
      </div>
    </section>
  </main>

<%- include("./userTemplates/footer") %>
