<%- include("./userTemplates/header") %>

<main>
  <section class="gridContainerMF">
    <div>
      <a href="/search">Search Movies</a>
    </div>
    <div>
      <a href="/movies">My Movies</a>
    </div>
  </section>
</main>

<%- include("./userTemplates/footer") %>
