<%- include("./userTemplates/header2") %>
<%- include("./userTemplates/menuIndex") %>

<main>
    
    <div id="indexContainer">
        <!-- Imagen de fondo para el index -->
    </div>

</main>

<%- include("./userTemplates/footer") %>