<%- include("./userTemplates/header2.ejs") %>
<%- include("./userTemplates/photoSliderOpacity.ejs") %>

<main class="centerText">

    <form action="/found-all" method="POST">
        <input type="text" name="search" id="search" placeholder="Insert a movie/series title">
        <button type="submit">Search</button>
    </form>
    
</main>

      <!-- <form action="http://localhost:3000/found-all" method="POST">
        <label for="search">Search</label>
        <input id="search" name="search" type="search" pattern=".*\S.*" required>
        <span class="caret"></span>
    </form> -->

<%- include("./userTemplates/footer") %>