<%- include("./userTemplates/header2.ejs") %>
<%- include("./userTemplates/photoSliderOpacity.ejs") %>

<main class="centerText">
    aqui va una barra de busqueda dinámina en CSS
</main>

<%- include("./userTemplates/footer") %>