<%- include("./userViews/userTemplates/header") %>

<main>
    <div id="block404">
        <figure>
            <img id="404Img" src="./assets/groot404.png" alt="grootSadPNG">
        </figure>
    </div>
    <div>
        <a id="goBackBtn" href="/">Back</a>
    </div>

</main>


<%- include('./userViews/userTemplates/footer') %>