/** STYLE FOR ALL ++++++++++++++++++++++++++++ */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{ /*paleta de colores*/
    --dark-blue: rgb(69 0 255);
    --blue: rgb(0 106 244);
    --light-blue: rgb(27 164 224);
    --aqua-blue: rgb(82 209 219);
    --red: rgb(255 42 0);
    --blank: rgb(183, 236, 239);
    --dark: rgb(33, 36, 37);
}

.centerText {
    text-align: center;
}

.border1px {
    border: 1px solid black;
}

.border2px {
    border: 2px solid black;
}

.gridContainerMF-1c {
    display: grid;
    grid-template-columns: 1fr;
}

/** GENERAL FRONT VIEWS */



/** GENERAL ADMIN VIEWS */



/**MEDIA QUERY +++++++++++++++++++ */
/* ===================================
                     media query 768px
======================================*/
@media screen and (min-width:768px) {

}
/*768px end.*/

/* ===================================
                     media query 992px
======================================*/
@media screen and (min-width:992px) {

}
/*992px end.*/

/* ===================================
                    media query 1200px
======================================*/
@media screen and (min-width:1200px) {

}
/*1200px end.*/