<nav class="nav-index">
  <ul>
    <li><a  href="/login/signup-form" >Sign up</a></li>
     <li><a  href="/login/signin-form" >Login</a></li>
  </ul>
</nav>



<!-- Navbar 
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link logged-out" href="/signup-form" data-bs-toggle="modal" data-bs-target="#signinModal">Signin</a>
        <a class="nav-link logged-out" href="/signup-form" data-bs-toggle="modal" data-bs-target="#signupModal">Signup</a>
        <a class="nav-link logged-in" href="#" id="logout">Logout</a> 
      </div>
    </div>
  </div>
</nav>-->



<!-- Modal 
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h3>SignUp</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5">
        <form id="signup-form">

          <label for="email">Email:</label>
          <input type="text" id="signup-email" class="form-control mb-3" placeholder="Title" required>

          <label for="password">Password:</label>
          <input type="password" id="signup-password" class="form-control mb-3" placeholder="Password" required>

          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignin"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>SignIn</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="login-form">
          <label for="email">Email</label>
          <input type="text" id="login-email" class="form-control mb-3" placeholder="Title" required>
          <label for="password">Password:</label>
          <input type="password" id="login-password" class="form-control mb-3" placeholder="Password" required>

          <button type="submit" class="btn btn-success w-100 mb-4">Login</button>

          <button type="button" class="btn btn-info" id="googleLogin">Google</button>
          <button type="button" class="btn btn-primary" id="facebookLogin">Facebook</button>
          <button type="button" class="btn btn-dark" id="githubLogin">Github</button>
        </form>
      </div>
    </div>
  </div>
</div>-->