<div class="photoSlider opacity">
    <ul>
    <li>
        <img class="opacity30" src="./assets/slider/harryPotter.png" alt="harryPotter">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/theOthers.png" alt="theOthers">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/starWars.png" alt="starWars">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/scarface.png" alt="scarface">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/lordOfTheRings.png" alt="lordOfTheRings">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/chihiro.png" alt="chihiro">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/bladeRunner.png" alt="bladeRunner">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/jurassicPark.png" alt="jurassicPark">
    </li>
    <li>
        <img class="opacity30" src="./assets/slider/meatBalls.png" alt="meatBalls">
    </li>
    </ul>
</div>