<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/movies">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/movies/create-form">Crear Película</a>
      </li>
     
      
      <div >
        <!-- <a class="nav-link logged-out" href="#" data-bs-toggle="modal" data-bs-target="#signinModal">Signin</a>-->
        <!-- <a class="nav-link logged-out" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Signup</a>Modal -->
        <a class="nav-link logged-in" href="#" id="logout">Logout</a>Modal 
      </div>
    </ul>
    
   
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h3>SignUp</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5">
        <form id="signup-form">

          <label for="email">Email:</label>
          <input type="text" id="signup-email" class="form-control mb-3" placeholder="Title" required>

          <label for="password">Password:</label>
          <input type="password" id="signup-password" class="form-control mb-3" placeholder="Password" required>

          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignin"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>SignIn</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="login-form">
          <label for="email">Email</label>
          <input type="text" id="login-email" class="form-control mb-3" placeholder="Title" required>
          <label for="password">Password:</label>
          <input type="password" id="login-password" class="form-control mb-3" placeholder="Password" required>

          <button type="submit" class="btn btn-success w-100 mb-4">Login</button>

          <button type="button" class="btn btn-info" id="googleLogin">Google</button>
          <button type="button" class="btn btn-primary" id="facebookLogin">Facebook</button>
          <button type="button" class="btn btn-dark" id="githubLogin">Github</button>
        </form>
      </div>
    </div>
  </div>
</div>